-
    var list9818 = [
        {
            label: 'Количество курсов химиотерапии',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name1',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'number',
                'data-mask': 'number',
                'data-name': 'name1',
            }
        },
        {
            label: 'Примечания по ХТ',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name2',
            size: 3,
            attributes: {
                'data-validate': 'empty',
                'maxlength': '250',
                'data-name': 'name2',
            }
        },


    ]
