-
    var registryDetail = [
        {
            name: 'Общая информация о пациенте из карточки',
        },
        {
            name: 'Первичные данные',
            count: '2 / 4',
        },
        {
            name: 'Информация о заболевании',
            count: '0 / 4',
        },
        {
            name: 'Стадия и группа риска',
            count: '0 / 4',
            status: 'disabled'
        },
        {
            name: 'Гистология и онкомаркеры',
            count: '0 / 4',
            status: 'disabled'
        },
        {
            name: 'Молекулярная генетика',
            count: '0 / 4',
            status: 'disabled'
        },
        {
            name: 'Инициальное обследование',
            count: '0 / 4',
            status: 'disabled'
        },
        {
            name: 'Хирургическое лечение',
            count: '0 / 4',
            status: 'disabled'
        },
        {
            name: 'Примечание к химиотерапии',
            count: '0 / 4',
            status: 'disabled'
        },
        {
            name: 'Ответ на терапию',
            count: '0 / 4',
            status: 'disabled'
        },
        {
            name: 'Иммунотерапия',
            count: '0 / 4',
            status: 'disabled'
        },
        {
            name: 'Катамнез',
            count: '0 / 4',
            status: 'error'
        },
    ]
