include data
mixin RegistryDetail
    .page__wrapper
        .page__rug
            +SectionHead({title: 'Иванова Виктория Евгеньевна'})
        .page__rug
            +RegistryDetailList(registryDetail)