// лайолит
include layout/head/head
include layout/styles
include layout/page-header/page-header

include layout/scripts
include layout/page-footer/page-footer


//pages
include modules/authorization/authorization
include modules/authorization/authorization-error
include modules/network-error/network-error
include modules/sms/sms
include modules/recovery/recovery
include modules/recovery-sms/recovery-sms
include modules/recovery-pass/recovery-pass
include modules/changed-password/changed-password
include modules/error-sms/error-sms
include modules/user-list/user-list
include modules/patients-registry/patients-registry
include modules/patients-list/patients-list
include modules/logs/logs
include modules/user-create/user-create
include modules/patient-create/patient-create
include modules/disease-create/disease-create
include modules/user-view-page/user-view-page
include modules/patient-view-page/patient-view-page
include modules/user-edit/user-edit
include modules/registry-detail/registry-detail
include modules/registr-detail-info/registr-detail-info
include modules/registr-category/registr-category
include modules/registr-category/registr-category-2
include modules/registr-edit/registr-edit
include modules/fields/fields
include modules/histology/histology
include modules/info/info
include modules/initial-examination/initial-examination
include modules/risk-stage/risk-stage
include modules/course/course
include modules/reports-page/reports-page
include modules/9811/9811.pug
include modules/9815/9815.pug
include modules/9817/9817.pug
include modules/98171/98171.pug
include modules/9818/9818.pug
include modules/9819/9819.pug
include modules/98110/98110.pug
include modules/98111/98111.pug



include blocks/form/form
include blocks/input/input
include blocks/main-nav/main-nav
include blocks/filter/filter
include blocks/persons-list/persons-list
include blocks/section-head/section-head
include blocks/pagination/pagination
include blocks/select-list/select-list
include blocks/pagination-widget/pagination-widget
include blocks/pagination/pagination
include blocks/modal/modal
include blocks/logs-list/logs-list
include blocks/header-breadcrumbs/header-breadcrumbs
include blocks/create-person/create-person
include blocks/tab/tab
include blocks/docs-list/docs-list
include blocks/page-info/page-info
include blocks/files-list/files-list
include blocks/progress/progress
include blocks/registry-detail-list/registry-detail-list
