-
    var typeFilterInput = {
        SEARCH: 'search',
        SELECT: 'select',
        DATE: 'date'
    }

-
    var RegistryDetailListStatus = {
        DISABLED: 'disabled',
        ERROR: 'error',

    }