-
    var test = [
        {
            label: 'Дата начала лечения',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name5',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'date',
                'data-mask': 'date',
                'data-name': 'name5',
            }
        },
        {
            label: 'Название инициального протокола',
            type: 'select',
            disabled: false,
            className: 'name6',
            placeholder: '',
            value: '',
            name: 'name6',
            size: 3,
            'error-text': 'Выберете поле',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name6'
            },
            options: [
                'NB2004',
                'COG',
                'SIOPEN ',
                'Другой',
            ]
        },
        {
            label: 'Все доступные символы',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name1',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'empty',
                'data-name': 'name1',
                'max-lenght': '250',
            }
        },


    ]