-
    var PatientsList = [
        {
            // code: '001011',
            name: 'Иванова Виктория Евгеньевна',
            // post: 'Нейрохирург',
            city: 'Новосибирск',
            included: 'Да',
            // state: 'Пользователь / Врач',
            // tel: '+7 (900) 000 00-00',
            // status: 'Заблокирован',
            // isLockOpen: false
        },
        {
            name: 'Иванова Виктория Евгеньевна',
            city: 'Новосибирск',
            included: 'Да',
        },
        {
            name: 'Иванова Виктория Евгеньевна',
            city: 'Новосибирск',
            included: 'Нет',
        },
        {
            name: 'Иванова Виктория Евгеньевна',
            city: 'Новосибирск',
            included: 'Нет',
        },
        {
            name: 'Иванова Виктория Евгеньевна',
            city: 'Новосибирск',
            included: 'Да',
        },
        {
            name: 'Иванова Виктория Евгеньевна',
            city: 'Новосибирск',
            included: 'Да',
        },
        {
            name: 'Иванова Виктория Евгеньевна',
            city: 'Новосибирск',
            included: 'Да',
        },
        {
            name: 'Иванова Виктория Евгеньевна',
            city: 'Новосибирск',
            included: 'Да',
        },
        {
            name: 'Иванова Виктория Евгеньевна',
            city: 'Новосибирск',
            included: 'Да',
        },
    ]


-
    var userKeysUsersList = {
        'input-cell': '',
        name: 'ФИО',
        city: 'Город',
        included: 'Включение в иммунотерапию',
        'button-cell': '',
    }