mixin networkError
    .info-block
        p._img-error
        h1 Пользователей не найдено
        p._text Данные по пользователям отсутствуют. Создайте первого пользователя
        a(href="")._button.button Создать