-
    var patientsList = [
        {
            login: '001011',
            name: 'Иванова Виктория Евгеньевна',
            sex: 'Женский',
            date: '18.10.1990',
            diagnosis: 'Название диагноза',
            risk: 'Повышенный риск',
            tel: '+7 (950) 860 73-21',
            status: 'Активный',
            system: false
        },
        {
            login: '001011',
            name: 'Иванова Виктория Евгеньевна',
            sex: 'Женский',
            date: '18.10.1990',
            diagnosis: 'Название диагноза',
            risk: 'Повышенный риск',
            tel: '+7 (950) 860 73-21',
            status: 'Активный',
            system: true
        },
        {
            login: '001011',
            name: 'Иванова Виктория Евгеньевна',
            sex: 'Женский',
            date: '18.10.1990',
            diagnosis: 'Название диагноза',
            risk: 'Повышенный риск',
            tel: '+7 (950) 860 73-21',
            status: 'Активный',
            system: true
        },
        {
            login: '001011',
            name: 'Иванова Виктория Евгеньевна',
            sex: 'Женский',
            date: '18.10.1990',
            diagnosis: 'Название диагноза',
            risk: 'Повышенный риск',
            tel: '+7 (950) 860 73-21',
            status: 'Активный',
            system: true
        },
        {
            login: '001011',
            name: 'Иванова Виктория Евгеньевна',
            sex: 'Женский',
            date: '18.10.1990',
            diagnosis: 'Название диагноза',
            risk: 'Повышенный риск',
            tel: '+7 (950) 860 73-21',
            status: 'Активный',
            system: true
        },
        {
            login: '001011',
            name: 'Иванова Виктория Евгеньевна',
            sex: 'Женский',
            date: '18.10.1990',
            diagnosis: 'Название диагноза',
            risk: 'Повышенный риск',
            tel: '+7 (950) 860 73-21',
            status: 'Активный',
            system: true
        },
        {
            login: '001011',
            name: 'Иванова Виктория Евгеньевна',
            sex: 'Женский',
            date: '18.10.1990',
            diagnosis: 'Название диагноза',
            risk: 'Повышенный риск',
            tel: '+7 (950) 860 73-21',
            status: 'Активный',
            system: true
        },
        {
            login: '001011',
            name: 'Иванова Виктория Евгеньевна',
            sex: 'Женский',
            date: '18.10.1990',
            diagnosis: 'Название диагноза',
            risk: 'Повышенный риск',
            tel: '+7 (950) 860 73-21',
            status: 'Активный',
            system: true
        },
        {
            login: '001011',
            name: 'Иванова Виктория Евгеньевна',
            sex: 'Женский',
            date: '18.10.1990',
            diagnosis: 'Название диагноза',
            risk: 'Повышенный риск',
            tel: '+7 (950) 860 73-21',
            status: 'Активный',
            system: true
        },
    ]
    
-   
    var patientsListKeys = {
        login: 'ID',
        name: 'ФИО',
        sex: 'Пол',
        date: 'Дата рождения',
        diagnosis: 'Диагноз',
        risk: 'Группа риска',
        tel: 'Номер телефона',
        status: 'Статус',
        system: '',
    }