mixin changedPassword
    .info-block
        p._img-success
        h1 Пароль изменён
        p._text Пароль был успешно изменён. Теперь вы можете войти с помощью него в свой аккаунт
        a(href="")._button.button Окей