-
    var list98110 = [
        {
            label: 'Протокол',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name1',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'empty',
                'data-name': 'name1',
                'maxlength': '250',
            }
        },
        {
            label: 'Количество курсов химиотерапии ',
            type: 'select',
            disabled: false,
            className: 'name2',
            placeholder: '',
            value: '',
            name: 'name2',
            size: 3,
            'error-text': 'Выберете поле',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name2'
            },
            options: [0, 1, 2, 3, 4, 5]
        },
        {
            label: 'Примечания',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name3',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'empty',
                'data-name': 'name3',
                'maxlength': '250',
            }
        },

    ]
