-
    var riskStageList = [
        {
            label: 'Стадия по INSS',
            type: 'select',
            disabled: false,
            className: 'name1',
            placeholder: '',
            value: '',
            name: 'name1',
            size: 3,
            'error-text': 'Выберете поле',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name1'
            },
            options: [
                '1',
                '2',
                '2А',
                '2B',
                '3',
                '4',
                '4S',
                'Неизвестна'

            ]
        },
        {
            label: 'Стадия по INRGSS',
            type: 'select',
            disabled: false,
            className: 'name2',
            placeholder: '',
            value: '',
            name: 'name2',
            size: 3,
            'error-text': 'Выберете поле',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name2'
            },
            options: [
                'L1',
                'L2',
                'M',
                'MS',
                'Неизвестна'
            ]
        },
        {
            label: 'Группа риска инициальная',
            type: 'select',
            disabled: false,
            className: 'name3',
            placeholder: '',
            value: '',
            name: 'name3',
            size: 3,
            'error-text': 'Выберете поле',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name3'
            },
            options: [
                'Наблюдение',
                'Промежуточного риска',
                'Высокого риска',
                'Ультравысокого риска',
                'Неизвестна'

            ]
        },

        {
            label: 'Группа риска окончательная',
            type: 'select',
            disabled: false,
            className: 'name4',
            placeholder: '',
            value: '',
            name: 'name4',
            size: 3,
            'error-text': 'Выберете поле',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name4'
            },
            options: [
                'Наблюдение',
                'Промежуточного риска',
                'Высокого риска',
                'Ультравысокого риска',
                'Неизвестна'
            ]
        },
        {
            label: 'Дата начала лечения',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name5',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'date',
                'data-mask': 'date',
                'data-name': 'name5',
            }
        },
        {
            label: 'Название инициального протокола',
            type: 'select',
            disabled: false,
            className: 'name6',
            placeholder: '',
            value: '',
            name: 'name6',
            size: 3,
            'error-text': 'Выберете поле',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name6'
            },
            options: [
                'NB2004',
                'COG',
                'SIOPEN ',
                'Другой',
            ]
        },
        {
            label: 'Название протокола при изменении',
            type: 'select',
            disabled: false,
            className: 'name7',
            placeholder: '',
            value: '',
            name: 'name7',
            size: 3,
            'error-text': 'Выберете поле',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name7'
            },
            options: [
                'синдром Горнера',
                'полинейропатия',
                'симптоматическая эпилепсия',
                'парез периф.нервов'

            ]
        },
        {
            label: 'Этилогия',
            type: 'select',
            disabled: false,
            className: 'name8',
            placeholder: '',
            value: '',
            name: 'name8',
            size: 3,
            'error-text': 'Выберете поле',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name8'
            },
            options: [
                'после операции',
                'токсичность ПХТ',
            ]
        },
        {
            label: 'Эхо-КГ',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name9',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'date',
                'data-mask': 'date',
                'data-name': 'name9',
            }
        },
        {
            label: 'Нейросонография',
            type: 'select',
            disabled: false,
            className: 'name10',
            placeholder: '',
            value: '',
            name: 'name10',
            size: 3,
            'error-text': 'Выберете поле',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name10',
            },
            options: [
                'Да',
                'Нет',
            ]
        },
    ]
