-
    var reportsList = [
        {
            name: 'Очень длинное название документа',
            type: 'Отчёт',
            format: 'Excel',
            size: '5.6 мб',
            date: '14.10.2020',
            download: true
        },
        {
            name: 'Очень длинное название документа',
            type: 'Отчёт',
            format: 'Excel',
            size: '5.6 мб',
            date: '14.10.2020',
            download: true
        },
        {
            name: 'Очень длинное название документа',
            type: 'Отчёт',
            format: 'Excel',
            size: '5.6 мб',
            date: '14.10.2020',
            download: true
        },
        {
            name: 'Очень длинное название документа',
            type: 'Отчёт',
            format: 'Excel',
            size: '5.6 мб',
            date: '14.10.2020',
            download: true
        },
        {
            name: 'Очень длинное название документа',
            type: 'Отчёт',
            format: 'Excel',
            size: '5.6 мб',
            date: '14.10.2020',
            download: true
        },
        {
            name: 'Очень длинное название документа',
            type: 'Отчёт',
            format: 'Excel',
            size: '5.6 мб',
            date: '14.10.2020',
            download: true
        },

    ]

-
    var reportsListKeys = {
        'input-cell': '',
        name: 'Название документа',
        type: 'Тип документа',
        format: 'Формат',
        size: 'Размер',
        date: 'Дата / время',
        download: '',
    }