-
    var logListKeys = {
        user: 'Пользователь',
        type: 'Тип изменения',
        'old-value': 'Старое значение',
        'new-value': 'Новое значение',
        state: ''
    }

-
    var logList = [
        {
            user: 'Иванова Виктория Евгеньевна',
            type: 'Фамилия',
            'old-value': 'Иванова',
            'new-value': 'Грибоедова',
            state: ''
        },
        {
            user: 'Длинная длинная длинная фамилия имя отчество',
            type: 'Статус',
            'old-value': 'Активный',
            'new-value': 'Заблокирован',
            state: ''
        },
        {
            user: 'Иванова Виктория Евгеньевна',
            type: 'Фамилия',
            'old-value': 'Иванова',
            'new-value': 'Грибоедова',
            state: ''
        },
    ]