include data

mixin userCreatePage
    .page__wrapper
        .page__rug
            +SectionHead({title: 'Создание пользователя'})
        .page__rug
            +createPerson({list: userCreateList})

