-
    var list9817 = [
        {
            label: 'Дата лучшей операции',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name1',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'date',
                'data-mask': 'date',
                'data-name': 'name1',
            }
        },
        {
            label: 'Объем лучшей операци',
            type: 'select',
            disabled: false,
            className: 'name8',
            placeholder: '',
            value: '',
            name: 'name8',
            size: 3,
            'error-text': 'Выберете поле',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name8'
            },
            options: [
                'Объем операции 1',
                'Объем операции 2',
                'Объем операции 3'

            ]
        },

        {
            label: 'Размеры остаточной опухоли перед лучшей операцией (ширина)',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name2',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'empty',
                'data-name': 'name2',
                'data-mask': 'complex_numbers',
                'data-deductible': 'tumor'
            }
        },
        {
            label: 'Размеры остаточной опухоли перед лучшей операцией (высота)',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name3',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'empty',
                'data-name': 'name3',
                'data-mask': 'complex_numbers',
                'data-deductible': 'tumor'
            }
        },
        {
            label: 'Размеры остаточной опухоли перед лучшей операцией (длина)',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name4',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'empty',
                'data-name': 'name4',
                'data-mask': 'complex_numbers',
                'data-deductible': 'tumor'
            }
        },
        {
            label: 'Объем остаточной опухоли перед лучшей операцией (см куб)',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name5',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'readonly': true,
                'data-name': 'name5',
                'data-result': 'tumor'
            }
        },
        {
            label: 'Процент удаленной опухоли по данным протокола операции',
            type: 'text',
            disabled: false,
            className: 'name6',
            placeholder: '',
            value: '',
            name: 'name6',
            size: 3,
            attributes: {
                'data-validate': 'number',
                'data-name': 'name6'
            },
        },

        {
            label: 'Количество курсов ПХТ до лучшей операции',
            type: 'text',
            disabled: false,
            className: 'name7',
            placeholder: '',
            value: '',
            name: 'name7',
            size: 3,
            attributes: {
                'data-validate': 'number',
                'data-name': 'name7'
            },
        },


    ]
