extends ../includes/layout/layout.pug
block var
    include ../includes/_var
    - var pageName = 'Курс 1'
    - var isAut = false;
    - var activePage = 'registr';
    - var noticeActive = false;
    - var isNeedSideMenu = true;
    - var breadcrumbsList = ['Реестр пациентов', 'Иванова Виктория Евгеньевна', 'Хирургическое лечение', 'Курс 1'];

block content
    +course