extends ../includes/layout/layout.pug
block var
    include ../includes/_var
    - var pageName = 'Просмотр пользователя'
    - var isAut = false;
    - var activePage = 'users';
    - var noticeActive = false;
    - var className = 'users';
    - var isNeedSideMenu = true;
    - var isLogs = false;
    - var breadcrumbsList = ['Пользователи', 'Логин 00101'];


block content
    +userViewPage