extends ../includes/layout/layout.pug
block var
    include ../includes/_var
    - var pageName = 'Создание пользователя'
    - var isAut = false;
    - var activePage = 'users';
    - var isNeedSideMenu = false;
    - var isLogs = false;
    - var breadcrumbsList = ['Пользователи', 'Создание пользователя'];
    - var isNeedSideMenu = true;


block content
    +userCreatePage