mixin networkError
    .info-block
        p._img-error
        h1 Ошибка сети
        p._text Соединение с сервером и/или сетью прервано. Пожалуйста, проверьте соединение с сетью или попробуйте войти позже
        a(href="")._button.button Обновить страницу