-
    var list9851 = [
        {
            label: 'Материал для исследования',
            type: 'select',
            disabled: false,
            className: 'name1',
            placeholder: '',
            value: '',
            required: true,
            name: 'name1',
            size: 3,
            'error-text': 'Выберете один из вариантов',
            attributes: {
                'data-validate': 'checkbox',
                'data-name': 'name1'
            },
            options: [
                'Ткань первичной опухоли',
                'Ткань метастаза',
                'Костный мозг',
                'Нет данных'
            ]
        },

        {
            label: 'MYCN амплификация',
            type: 'select',
            disabled: false,
            className: 'name2',
            placeholder: '',
            value: '',
            required: true,
            name: 'name2',
            size: 3,
            'error-text': 'Выберете один из вариантов',
            attributes: {
                'data-validate': 'checkbox',
                'data-name': 'name2'
            },
            options: [
                'Нет амплификации',
                'Амплификация гомогенная',
                'Амплификация гетерогенная фокальная',
                'Амплификация гетерогенная диффузная',
                'Gain',
                'Не оценивалась',
                'Нет данных',
                'Технические трудности определения'

            ]
        },

        {
            label: 'Метод определения MYCN',
            type: 'select',
            disabled: false,
            className: 'name3',
            placeholder: '',
            value: '',
            required: true,
            name: 'name3',
            size: 3,
            'error-text': 'Выберете один из вариантов',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name3'
            },
            options: [
                'FISH',
                'ПЦР',
            ]
        },

        {
            label: 'Результаты ПЦР',
            type: 'select',
            disabled: false,
            className: 'name4',
            placeholder: '',
            value: '',
            required: true,
            name: 'name4',
            size: 3,
            'error-text': 'Выберете один из вариантов',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name4'
            },
            options: [
                'Нет амплификации',
                'Gain',
                'Амплификация'

            ]
        },

        {
            label: 'Делеция 1р',
            type: 'select',
            disabled: false,
            className: 'name5',
            placeholder: '',
            value: '',
            required: true,
            name: 'name5',
            size: 3,
            'error-text': 'Выберете один из вариантов',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name5'
            },
            options: [
                'Нет делеции',
                'Дисбаланс',
                'LOH / делеция 1р',
                'Не оценивалась',
                'Нет данных',
                'Технические трудности определения'
            ]
        },

        {
            label: 'Метод определения Делеции 1p',
            type: 'select',
            disabled: false,
            className: 'name6',
            placeholder: '',
            value: '',
            required: true,
            name: 'name6',
            size: 3,
            'error-text': 'Выберете один из вариантов',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name6'
            },
            options: [
                'FISH',
                'ПЦР',
            ]
        },

        {
            label: 'Плоидность',
            type: 'select',
            disabled: false,
            className: 'name7',
            placeholder: '',
            value: '',
            required: true,
            name: 'name7',
            size: 3,
            'error-text': 'Выберете один из вариантов',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name7'
            },
            options: [
                '< 2n',
                '2n(диплоидный)',
                '3n(триплоидный)',
                '5n - 6n(пента - гексаплоидный)',
                'Не оценивалась',
                'Нет данных'

            ]
        },

        {
            label: 'Плоидность FISH',
            type: 'select',
            disabled: false,
            className: 'name8',
            placeholder: '',
            value: '',
            required: true,
            name: 'name8',
            size: 3,
            'error-text': 'Выберете один из вариантов',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name8'
            },
            options: [
                'Нет делеции',
                'Делеция 11q',
                'Не оценивалась',
                'Нет данных',
                'Дисбаланс',
                'Технические трудности определения'
            ]
        },

        {
            label: 'Делеция 11q',
            type: 'select',
            disabled: false,
            className: 'name9',
            placeholder: '',
            value: '',
            required: true,
            name: 'name9',
            size: 3,
            'error-text': 'Выберете один из вариантов',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name9'
            },
            options: [
                'Нет делеции',
                'Делеция 11q',
                'Не оценивалась',
                'Нет данных',
                'Дисбаланс',
                'Технические трудности определения'

            ]
        },

        {
            label: 'Реаранжировки 17q',
            type: 'select',
            disabled: false,
            className: 'name10',
            placeholder: '',
            value: '',
            required: true,
            name: 'name10',
            size: 3,
            'error-text': 'Выберете один из вариантов',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name10'
            },
            options: [
                'Нет',
                'Да',
                'Не определена',
                'Нет данных'
            ]
        },

        {
            label: 'Статус ALK знаение',
            type: 'select',
            disabled: false,
            className: 'name11',
            placeholder: '',
            value: '',
            required: true,
            name: 'name11',
            size: 3,
            'error-text': 'Выберете один из вариантов',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name11'
            },
            options: [
                'Не изменен',
                'Амплификация',
                'Мутация',
                'Не определена',
                'Нет данных'

            ]
        },

        {
            label: 'Статус ALK метод',
            type: 'select',
            disabled: false,
            className: 'name12',
            placeholder: '',
            value: '',
            required: true,
            name: 'name12',
            size: 3,
            'error-text': 'Выберете один из вариантов',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name12'
            },
            options: [
                'FISH',
                'ПЦР',
                'Другое',
            ],
            optionsAttr: {
                2: {'data-show': 'name13'}
            }
        },

        {
            label: 'Статус ALK метод (другое)',
            type: 'text',
            disabled: true,
            className: 'name13',
            placeholder: '',
            value: '',
            required: true,
            name: 'name13',
            size: 3,
            'error-text': 'Выберете один из вариантов',
            attributes: {
                'data-validate': 'empty',
                'data-name': 'name13',
                'maxlength': '250',
            },
        },

    ]
