-
    var initialExaminationList = [
        {
            label: 'Дата КТ',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name1',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'date',
                'data-mask': 'date',
                'data-name': 'name1',
            }
        },
        {
            label: 'Дата МРТ первичной опухоли',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name2',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'date',
                'data-mask': 'date',
                'data-name': 'name2',
            }
        },
        {
            label: 'Миелограмма',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name3',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'empty',
                'data-name': 'name3',
                'maxlength': '250',
            }
        },
        {
            label: 'Метод верификации поражения костного мозга',
            type: 'select',
            disabled: false,
            className: 'name4',
            placeholder: '',
            value: '',
            name: 'name4',
            size: 3,
            'error-text': 'Выберете поле',
            attributes: {
                'data-validate': 'checkbox',
                'data-name': 'name4'
            },
            options: [
                'миелограмма',
                'МРТ',
                'MIBG',
            ]
        },
        {
            label: 'Размеры первичной опухоли (ширина)',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name5',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'empty',
                'data-name': 'name5',
                'data-mask': 'complex_numbers',
                'data-deductible': 'tumor'
            }
        },
        {
            label: 'Размеры первичной опухоли (высота)',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name6',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'empty',
                'data-name': 'name6',
                'data-mask': 'complex_numbers',
                'data-deductible': 'tumor'
            }
        },
        {
            label: 'Размеры первичной опухоли (длина)',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name7',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'empty',
                'data-name': 'name7',
                'data-mask': 'complex_numbers',
                'data-deductible': 'tumor'
            }
        },
        {
            label: 'Объем первичной опухоли (см куб)',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name8',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'readonly': true,
                'data-name': 'name8',
                'data-result': 'tumor'
            }
        },
        {
            label: 'Дата МРТ головы ',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name9',
            size: 3,
            attributes: {
                'data-validate': 'date',
                'data-mask': 'date',
                'data-name': 'name9',
            }
        },
        {
            label: 'Заключение МРТ',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name10',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'empty',
                'maxlength': '250',
                'data-name': 'name10',
            }
        },
        {
            label: 'Комментарии к заключению МРТ',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name11',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'empty',
                'maxlength': '250',
                'data-name': 'name11',
            }
        },
        {
            label: 'MIBG первичная опухоль',
            type: 'select',
            disabled: false,
            className: 'name12',
            placeholder: '',
            value: '',
            name: 'name12',
            size: 3,
            'error-text': 'Выберете поле',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name12'
            },
            options: [
                'Позитивная',
                'Негативная',
                'Сомнительная',
                'Не  проводилась',
                'Нет данных'
            ]
        },
        {
            label: 'MIBG  метастазы',
            type: 'select',
            disabled: false,
            className: 'name13',
            placeholder: '',
            value: '',
            name: 'name13',
            size: 3,
            'error-text': 'Выберете поле',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name13'
            },
            options: [
                'Позитивная',
                'Негативная',
                'Сомнительная',
                'Не  проводилась',
                'Нет данных'

            ]
        },
        {
            label: 'MIBG сцинтиграфия',
            type: 'select',
            disabled: false,
            className: 'name14',
            placeholder: '',
            value: '',
            name: 'name14',
            size: 3,
            'error-text': 'Выберете поле',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name14'
            },
            options: [
                'Планарное',
                'ОФЕКТ/КТ',
            ]
        },
        {
            label: 'Дата проведения первой сцинтиграфии с MIBG',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name15',
            size: 3,

            attributes: {
                'data-validate': 'date',
                'data-mask': 'date',
                'data-name': 'name15',
            }
        },
        {
            label: 'Комментарии по сцинтиграфии',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name16',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'empty',
                'maxlength': '250',
                'data-name': 'name16',
            }
        },
        {
            label: 'Tc99 сцинтиграфия',
            type: 'select',
            disabled: false,
            className: 'name17',
            placeholder: '',
            value: '',
            name: 'name17',
            size: 3,
            'error-text': 'Выберете поле',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'name17'
            },
            options: [
                'Позитивная',
                'Негативная',
                'Сомнительная',
                'Не  проводилась',
                'Нет данных'
            ]
        },

    ]
