-
    var userEditList = [
        {
            label: 'Фамилия',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: 'Ключенко',
            // required: true,
            name: 'surname',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'empty',
                'data-name': 'surname',
                'data-mask': 'shot',
            }
        },
        {
            label: 'Имя',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: 'Екатерина',
            // required: true,
            name: 'name',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'empty',
                'data-name': 'name',
                'data-mask': 'shot',
            }
        },
        {
            label: 'Отчество',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: 'Олеговна',
            // required: true,
            name: 'patronymic',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'empty',
                'data-name': 'patronymic',
                'data-mask': 'shot',
            }
        },
        {
            label: 'Пароль',
            type: 'password',
            disabled: false,
            placeholder: '',
            value: '123456789',
            // required: true,
            name: 'pass',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'password',
                'data-mask': 'password',
                'data-name': 'password',
                'readonly': true
                // 'maxlength' : 20,
                // 'minlength' : 8,
            }
        },
        {
            label: 'Должность',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: 'Нейрохирург',
            // required: true,
            name: 'post',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
            'data-validate': 'empty',
            'data-mask': 'post',
            'data-name': 'post',
            }
        },
        {
            label: 'Роль в системе',
            type: 'select',
            disabled: false,
            className: 'role',
            placeholder: '',
            value: 'Менеджер',
            // required: true,
            name: 'role',
            size: 3,
            'error-text': 'Выберете роль в системе',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'role'
            },
            options: ['Пользователь', 'Руководитель']
        },
        {
            label: 'Статус',
            type: 'select',
            disabled: false,
            className: 'status',
            placeholder: '',
            value: 'Активен',
            required: true,
            name: 'status',
            size: 1,
            'error-text': 'Выберете статус',
            attributes: {
                'data-validate': 'radio',
                'data-name': 'status'
            },
            options: ['Активен', 'Заблокировать']
        },
    ]