-
    var diseaseCreateList = [
        {
            label: 'Дата лучшей операции',
            type: 'date',
            disabled: false,
            placeholder: '',
            value: '',
            required: true,
            name: 'surname',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'maxlength': 30,
                'data-type': 'date',
            }
        },
        {
            label: 'Объем лучшей операции',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            required: true,
            name: 'volume-1',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'maxlength': 30,
                'data-type': 'text',
            }
        },
        {
            label: 'Размеры остаточной опухоли перед операцией(см) (ШхВхД)',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            required: true,
            name: 'size-1',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'maxlength': 30,
                'data-type': 'text',
            }
        },
        {
            label: 'Объем остаточной опухоли перед лучшей операцией (см куб)',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            required: true,
            name: 'sex',
            className: 'sex',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'maxlength': 30,
                'data-type': 'volume-2',
            }
        },
        {
            label: 'Процент удаленной опухоли по данным протокола операции',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            required: true,
            name: 'persent',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-type': 'persent',
            }
        },
        {
            label: 'Кол-во курсов ПХТ до лучшей операции',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            required: true,
            name: 'count',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-type': 'number',
            }
        },
    ]