-
    var list9811 = [
        {
            label: 'ID пациента',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '165465',
            name: 'name1',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-name': 'name1',
                disabled: true,
            }
        },
        {
            label: 'Место постановки диагноза ',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name2',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'empty',
                'max-lenght': '150',
                'data-name': 'name2',
            }
        },
        {
            label: 'Дата постановки диагноза ',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name3',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'date',
                'data-mask': 'date',
                'data-name': 'name3',
            }
        },
        {
            label: 'Возраст на момент постановки диагноза (месяцы)',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name4',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'number',
                'data-mask': 'date',
                'data-name': 'name4',
            }
        },
        {
            label: 'Полных лет',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '48',
            name: 'name5',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'number',
                'data-mask': 'number',
                'data-name': 'name5',
                'disabled': true,
            }
        },
        {
            label: 'Дата первичного обращения в НМИЦ Блохина',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name6',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'date',
                'data-mask': 'date',
                'data-name': 'name6',
            }
        },

        {
            label: 'Дата госпитализации  в НМИЦ Блохина',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name7',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'date',
                'data-mask': 'date',
                'data-name': 'name7',
            }
        },
        {
            label: 'Номер истории болезни',
            type: 'text',
            disabled: false,
            placeholder: '',
            value: '',
            name: 'name8',
            size: 3,
            'error-text': 'Недопустимые символы',
            attributes: {
                'data-validate': 'number',
                'data-mask': 'number',
                'data-name': 'name8',
            }
        },
    ]
