-
    var usersList = [
        {
            login: '001011',
            name: 'Иванова Виктория Евгеньевна',
            post: 'Нейрохирург',
            role: 'Пользователь / Врач',
            tel: '+7 (900) 000 00-00',
            status: 'Заблокирован',
            system: true
        },
        {
            login: '001012',
            name: 'Кузьмин Владимир Иванович',
            post: 'Длинное название должности',
            role: 'Пользователь / Врач',
            tel: '+7 (950) 860 73-21',
            status: 'Заблокирован',
            system: true
        },
        {
            login: '001013',
            name: 'Кузьмин Владимир Иванович',
            post: 'Очень длинное название должности',
            role: 'Пользователь / Врач',
            tel: '+7 (950) 860 73-21',
            status: 'Заблокирован',
            system: false
        },
        {
            login: '001014',
            name: 'Кузьмин Владимир Иванович',
            post: 'Нейрохирург',
            role: 'Пользователь / Врач',
            tel: '+7 (950) 860 73-21',
            status: 'Заблокирован',
            system: true
        },
        {
            login: '001015',
            name: 'Кузьмин Владимир Иванович',
            post: 'Нейрохирург',
            role: 'Пользователь / Врач',
            tel: '+7 (950) 860 73-21',
            status: 'Заблокирован',
            system: true
        },
        {
            login: '001016',
            name: 'Кузьмин Владимир Иванович',
            post: 'Нейрохирург',
            role: 'Пользователь / Врач',
            tel: '+7 (950) 860 73-21',
            status: 'Заблокирован',
            system: true
        },
        {
            login: '001017',
            name: 'Кузьмин Владимир Иванович',
            post: 'Нейрохирург',
            role: 'Пользователь / Врач',
            tel: '+7 (950) 860 73-21',
            status: 'Заблокирован',
            system: true
        },
        {
            login: '001017',
            name: 'Кузьмин Владимир Иванович',
            post: 'Нейрохирург',
            role: 'Пользователь / Врач',
            tel: '+7 (950) 860 73-21',
            status: 'Заблокирован',
            system: true
        },
        {
            login: '001017',
            name: 'Кузьмин Владимир Иванович',
            post: 'Нейрохирург',
            role: 'Пользователь / Врач',
            tel: '+7 (950) 860 73-21',
            status: 'Заблокирован',
            system: true
        },
        {
            login: '001017',
            name: 'Кузьмин Владимир Иванович',
            post: 'Нейрохирург',
            role: 'Пользователь / Врач',
            tel: '+7 (950) 860 73-21',
            status: 'Заблокирован',
            system: true
        },
    ]
    
-   
    var userKeys = {
        login: 'Логин',
        name: 'ФИО',
        post: 'Должность',
        role: 'Роль',
        tel: 'Номер телефона',
        status: 'Статус',
        system: '',
    }